* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    color: tomato;
    line-height: 36px;
}
.container:nth-child(1) {
    padding-left: 0;
}

p {
    font-size: 1.2em;
}
body {
    background-color: aliceblue;
}
.header {
    background-color: bisque;
}
.navbar {
    padding: 0;
}
.navbar-brand {
    color: tomato;
    font-size: 2rem;
}
.navbar-brand:hover {
    color: red;
}
.nav-item .btn {
    color: tomato;
    margin-bottom: 20px;
}
.header-text {
    padding-top: 50px;
}
.chicken, .beef, .sushi {
    border: solid tomato 1px;
    margin: 50px 0;
    background-color: thistle;
}
.beef {
    background-color: wheat;
    display: none;
}
.sushi {
    margin-bottom: 50px;
    background-color: violet;
    display: none;
}
.chicken h3, .beef h3, .sushi h3 {
    padding: 30px;
}
.paragraph p {
    padding: 10px 20px;
    overflow: hidden;
    justify-content: center;
}
@media (max-width: 575px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
}